.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: darkslategray;
}

.configs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.configs-container > .config-wrapper {
  color: white;
  margin: 10px;
}

.configs-container > .config-wrapper > input {
  color: white;
  background-color: dimgray;
  padding: 6px;
  font-size: 14px;
  font-weight: 600;
}

.main {
  display: flex;
  flex: 1;
}