.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  background-color: darkslategray;
  overflow: hidden;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
  .logo-container {
    display: none;
  }
}

.configs-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.configs-container > .config-wrapper {
  color: white;
  margin: 10px;
}

.configs-container > .config-wrapper > input {
  color: white;
  background-color: dimgray;
  padding: 6px;
  font-size: 14px;
  font-weight: 600;
}

.main {
  display: flex;
  flex: 1;
}